@import url('https://fonts.googleapis.com/css?family=Inconsolata|Quicksand');

html > body {
  overflow-x: hidden;
  overflow-y: hidden;
  /* background-color: #eee; */
}

li {
  list-style-type: none;
}

#sidebar-wrapper {
  top: 52px;
  /* padding: 20px; */
  width: 200px;
  background-color: #e9ebee;
  color: white;
  position: fixed;
  height: 100%;
  z-index: 1;
  /* box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42),
    0 3px 20px 0px rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 0, 0, 0.2); */
}

#sidebar-wrapper ul {
  padding: 20px;
  text-align: center;
}

#sidebar-wrapper ul li {
  cursor: pointer;
  color: #000;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
}

#sidebar-wrapper ul li:hover {
  background: #f6f7f9;
  border: 1px solid #cec8c8;
}

#sidebar-wrapper ul li.active {
  font-weight: bold;
  background: #f6f7f9;
  border: 1px solid #cec8c8;
}

.editor-header {
  background: #f8f8f8;
  padding: 7px 10px 7px 20px;
  border: 1px solid #d9deea;
  /*border-left: 0;
  border-right: 0;
  height: 30px;*/
  line-height: 30px;
  text-align: left;
}

.editor-footer {
    background: #f8f8f8;
    border: 1px solid #d9deea;
    padding: 10px;
}

.result-section {
  padding-left: 0px;
  padding-right: 10px;
}